body{
  background-color: #3D5599;
  font-size: 200%;
}
/*
#1444CC
#3D5599
#00C9FF
#FF5700
#000000
*/

.avatar{
	max-height: 100px;
  max-width: 100px;
}

.contenido{
	text-align: justify;
}

#actualizar{
	text-align:center;
}

.divAct{
	text-align:center;
}
